<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    
   	 <bean id="a" class="com.hefshine.emp.Address">
     <property name="city" value="vadodra"/>
     <property name="state" value="gujrat"/>
     <property name="country" value="india"/>
    </bean>
   
    <bean id="e1" class="com.hefshine.emp.Employee">
   	 <constructor-arg name="id" value="10"/>
     <constructor-arg name="name" value="nakul"/>
     <constructor-arg name="address" ref="a"/>
     </bean>
</beans>